# npx skills install artifacts
.agents/
.claude/skills/
.claude/settings.local.json
skills-lock.json

# Agent-specific skill directories (created by npx skills add)
.adal/
.agent/
.augment/
.codebuddy/
.commandcode/
.continue/
.cortex/
.crush/
.factory/
.goose/
.iflow/
.junie/
.kilocode/
.kiro/
.kode/
.mcpjam/
.mux/
.neovate/
.openhands/
.pi/
.pochi/
.qoder/
.qwen/
.roo/
.trae/
.vibe/
.windsurf/
.zencoder/
